<h1>Profiles#edit</h1>
<p>Find me in app/views/profiles/edit.html.erb</p>

<%= bootstrap_form_with(model: @profile) do |form| %>
  <%= form.text_field :role, label: "Role:" %>
  <%= form.text_field :status, label: "Status" %>
  <%= form.submit %>
<% end %>