<h1>Student List</h1>
<%= link_to "Back", :back, class: "btn btn-secondary" %>
<a href="/students/new" class="btn btn-primary">Add Student</a>
<%# <hr> %>

<% @students.each do |student| %>
  <%= render partial: 'student', locals: { student: student } %>
<% end %>