<h1>Student List</h1>
<a href="/students/new" class="btn btn-primary">Add Student</a>
<hr>

<% @students.each do |student| %>
  <%= render partial: 'student', locals: { student: student } %>
<% end %>