<h1>Instructor List</h1>
<a href="/instructors/new" class="btn btn-primary">Add Instructor</a>

<hr>

<% @instructors.each do |instructor| %>
  <%= render partial: 'instructor', locals: { instructor: instructor } %>
<% end %>