<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<div class="ui form" style="margin-top: 20px;">
  <div class="fields">
    <div class="field">

      <%= form_with(model: @user) do |form| %>
        <label>Username:</label> <%= form.text_field(:username) %><br />
        <label>Password:</label> <%= form.password_field(:password) %><br /><br />
        <%= form.submit %>
      <% end %>