<h1>User Profile</h1>
<%= link_to "Back", :back, class: "btn btn-secondary" %>
<hr>

<%= render partial: 'user', locals: { user: @user } %>
<%# <%= render partial: 'profile', locals: { profile: @profile } %>