​  <header>
  <section class="main">
   <div class="container" "home">
    <div class="row">
      <div class="col-md-3"></div>
     <div class="col-md-6">
       <div class="list-group">
         <a href="#" class="list-group-item list-group-item-action active bg-dark">
           <span class="glyphicons glyphicons-cogwheel"></span> Dashboard
         </a>
         <a href="/users" class="list-group-item list-group-item-action"><span class="glyphicons glyphicons-cogwheel"></span> Users <span class="badge badge-secondary">12</span></a>
         <a href="/courses" class="list-group-item list-group-item-action"><span class="glyphicons glyphicons-cogwheel"></span>Courses <span class="badge badge-secondary">56</span></a>
         <a href="/courses" class="list-group-item list-group-item-action"><span class="glyphicons glyphicons-cogwheel"></span>Cohorts <span class="badge badge-secondary">78</span></a>
         <a href="/instructors" class="list-group-item list-group-item-action"><span class="glyphicons glyphicons-cogwheel"></span>Instructors <span class="badge badge-secondary">96</span></a>
         <a href="students" class="list-group-item list-group-item-action"><span class="glyphicons glyphicons-cogwheel"></span>Students <span class="badge badge-secondary">100</span></a>
         <!-- <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a> -->
        </div>
​
       <div class="well">
​
       </div>
     </div>
     
     <%# <div class="col-md-9">
       <!-- <div class="card"> -->
         <div class="card-header bg-dark">
          Website Overview
         </div>
          <div class="row">
         <!-- <div class="col-md-3"> -->
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body text-dark">
             <h5 class="card-title">Dark card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
         <!-- </div> -->
         <!-- <div class="col-md-3"> -->
           <!-- <div class="row"> -->
           <div class="card border-dark mb-3" style="max-width: 18rem;">
             <div class="card-header">Header</div>
             <div class="card-body text-dark">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             </div>
           </div>
          <!-- </div> -->
          <!-- <div class="col-md-3"> -->
            <!-- <div class="row"> -->
            <div class="card border-dark mb-3" style="max-width: 18rem;">
              <div class="card-header">Header</div>
              <div class="card-body text-dark">
               <h5 class="card-title">Dark card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
           <!-- </div> -->
            </div> %>
         <!-- <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
         </ul> -->
        <!-- </div> -->
     </div>
    </div>
   </div>
  </section>
​