<h1>Course List</h1>
<%= link_to "Back", :back, class: "btn btn-secondary" %>
<a href="/courses/new" class="btn btn-primary">Add Course</a>
<hr>

<% @courses.each do |course| %>
  <%= render partial: 'course', locals: { course: course } %>
<% end %>