<h1>Add Course</h1>
<hr>

<%= form_with(model: @course) do |form| %>
  Name: <br>
  <%= form.text_field(:name) %> <br> 
  Hours: <br>
  <%= form.text_field(:hours) %> <br /><br />
<%= form.submit  class: "btn btn-primary" %>
<% end %>
